# ===== Dependencies =====
node_modules

# ===== Build output =====
dist

# ===== User uploads =====
uploads

# ===== Environment variables =====
.env

# ===== Logs =====
*.log

# ===== Vercel or build artifacts =====
vercel
.vercel

# ===== TypeScript =====
*.tsbuildinfo

# ===== IDE / Editor files =====
.vscode
.idea

# ===== macOS / Windows system files =====
.DS_Store
Thumbs.db
